h1 {
  text-align:center; color:orange; align-content: right; font:100pt "Elementa"
}

h2 {text-align:center; color: #046E8F; align-content: right; font:20pt "Elementa"}
h3 {text-align:center; color: #046E8F; align-content: right; font:20pt "Elementa"}

h4 {text-align:center; color: orange; align-content: right; font:10pt "Elementa"}
h5 {text-align:center; color: orange; align-content: right; font:10pt "Elementa"}
h6 {text-align:center; color: orange; align-content: right; font:10pt "Elementa"}
h7 {text-align:center; color: orange; align-content: right; font:10pt "Elementa"}
h8 {text-align:center; color: orange; align-content: right; font:10pt "Elementa"}
h9 {text-align:center; color: orange; align-content: right; font:10pt "Elementa"}
h10 {text-align:center; color: orange; align-content: right; font:10pt "Elementa"}
h11 {text-align:center; color: orange; align-content: right; font:10pt "Elementa"}
h12 {text-align:center; color: orange; align-content: right; font:10pt "Elementa"}


h13 {text-align:center; color: #046E8F; align-content: right; font:20pt "Elementa"}
