


body {
background-color: #022F40;
}



#backbutton {text-align:center;
color:orange;
font:30pt;
font-family: 'Josefin Slab', serif;
}


h1 {
  text-align:center; color:orange; align-content: right; font:100pt; font-family: 'Josefin Slab', serif;"
}
h2 {text-align:center; color: #046E8F; align-content: right; font:20pt; font-family: 'Josefin Slab', serif;}
h3 {text-align:center; color: #046E8F; align-content: right; font:20pt; font-family: 'Josefin Slab', serif;}

h4 {text-align:center; color:#38AECC; align-content: right; font:35pt ; font-family: 'Josefin Slab', serif;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
figcaption {text-align:center; color:#046E8F; align-content: right; font:20pt ; font-family: 'Josefin Slab', serif;}

h5 {text-align:center; color:#38AECC; align-content: right; font:35pt ; font-family: 'Josefin Slab', serif;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
figcaption {text-align:center; color:#046E8F; align-content: right; font:20pt; font-family: 'Josefin Slab', serif;}

h6 {text-align:center; color:#38AECC; align-content: center; font:35pt; font-family: 'Josefin Slab', serif;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
figcaption {text-align:center; color:#046E8F; align-content: right; font:20pt; font-family: 'Josefin Slab', serif; }


h7 {text-align:center; color:#38AECC; align-content: center; font:35pt; font-family: 'Josefin Slab', serif;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
figcaption {text-align:center; color:#046E8F; align-content: right; font:20pt; font-family: 'Josefin Slab', serif;}

h8 {text-align:center; color:#38AECC; align-content: center; font:35pt; font-family: 'Josefin Slab', serif;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
figcaption {text-align:center; color:#046E8F; align-content: right; font:20pt; font-family: 'Josefin Slab', serif;}

h9 {text-align:center; color:#38AECC; align-content: center; font:35pt ; font-family: 'Josefin Slab', serif;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
figcaption {text-align:center; color:#046E8F; align-content: right; font:20pt ; font-family: 'Josefin Slab', serif;}

h10 {text-align:center; color:#38AECC; align-content: right; font:35pt ; font-family: 'Josefin Slab', serif;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
figcaption {text-align:center; color:orange; align-content: center; font:20pt ; font-family: 'Josefin Slab', serif;}

h11 {text-align:center; color:#38AECC; align-content: right; font:35pt ; font-family: 'Josefin Slab', serif;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
figcaption {text-align:center; color:orange; align-content: center; font:20pt ; font-family: 'Josefin Slab', serif;}



ul {font:20pt; font-family: 'Josefin Slab', serif; color: #046E8F  }

#wrapper {
     width: 1000px;
     margin: 0 auto;
     padding: 0;
     overflow: auto;
}

#leftcolumn {
     width: 40%;
     background-color: #111;
     padding: 10;
     margin: 0;
     display: block;
     border: 3px solid orange;
     float: left;

}

#rightcolumn {
     width: 40%;
     background-color: #777;
     display: block;
     float: right;
     border: 3px solid orange;
}



#outerdiv {width: 90%; height: 90%; text-align:center}
#map {width: 400px; height: 400px; margin:40px auto; border: 3px solid orange; display:inline-block}
